@import "/styles/main.css";



.heading {
  margin-top: 5rem;
}

.content-binary-clock {
  margin-top: 7rem;
}

.content-main a {
  color: rgb(201, 201, 201);
  text-decoration: none;
  text-decoration: underline;
}