@import "/styles/root.css";



/* Body */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
}

/* scrollbar styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--purple-primary);
}



/* Header */
header {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);

  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-left: 6rem;

  text-align: center;
}



/* ============ */
/* #region Main */
main {
  font-size: 1.3rem;
  margin-left: 5rem;
  padding: 1rem;
}
.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tiny-text {
  font-size: 0.8rem;
}
.medium-text {
  font-size: 1.2rem;
} 
.big-text {
  font-size: 1.5rem;
}
.strike-through {
  text-decoration: line-through;
}
/* #endregion */ /* Main */
/* ============ */



/* ============== */
/* #region NAVBAR */


/* #region the-bar */
.navbar {
  /* nav */
  position: fixed;
  background-color: var(--navbar-bg-primary);
  transition: width 200ms ease;
  overflow: hidden;
  scrollbar-width: none;
}
.navbar::-webkit-scrollbar {
  background: transparent;
  scrollbar-width: 0;
  display: none;
  width: 0;
}
.navbar-nav {
  /* nav  ul */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/* #endregion */ /* the-bar */


/* #region items-and-icons */
.nav-item {
  /* nav ul  li */
  width: 100%;
}
.nav-item:last-child {
  /* nav ul  li 
  move last icon to bottom of screen */
  margin-top: auto;
  margin-bottom: 0;
}
.nav-link {
  /* nav ul li  a */
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.2rem;
  /* make icons grayscale */
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  /* nav ul li  a */
  /* remove grayscale when hovered over */
  filter: grayscale(0%) opacity(1);
  background: var(--navbar-bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  /* nav ul li  span */
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  /* nav ul li a  svg */
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--purple-primary);
  transition: var(--transition-speed);
}
.theme-icon {
  margin: 0px;
  margin-bottom: 0px;
}
/* #endregion */ /* items-and-icons */


/* #region logo */
.logo {
  /* nav ul li  a */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.4rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
/* #endregion */ /* logo */


/* #region external-links */
.ext {
	display: none;
	justify-content: center;
	padding: 0.2rem;
	margin: 0px;
	margin-bottom: 0px;
	margin-top: auto;
}
.preview {
	display: flex;
	position: fixed;
	bottom: 0;
	margin-bottom: 5rem;
}
/* .nav-item-preview:last-child {
	margin-top: auto;
} */
/* #endregion */ /* external-links */


/* #region fade-animation */
.ext {
  -webkit-animation: fadein var(--fade-transition-speed);
     -moz-animation: fadein var(--fade-transition-speed);
      -ms-animation: fadein var(--fade-transition-speed);
       -o-animation: fadein var(--fade-transition-speed);
          animation: fadein var(--fade-transition-speed);
}
.link-text {
  -webkit-animation: fadein var(--fade-transition-speed);
     -moz-animation: fadein var(--fade-transition-speed);
      -ms-animation: fadein var(--fade-transition-speed);
       -o-animation: fadein var(--fade-transition-speed);
          animation: fadein var(--fade-transition-speed);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* #endregion */ /* fade-animation */


/* #endregion */ /* NAVBAR */
/* ============== */



/* ========================= */
/* #region responsive-design */


/* small-screens */
/* wide-ways */
@media only screen and (max-width: 599px) {
  /* navbar */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .home-icon {
    display: inline;
  }
  .ext {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }

  header {
    margin: 1rem;
  }
  main {
    margin: 0;
    margin-bottom: 3rem;
  }
  
  :root {
    font-size: 0.8rem;
  }
}


/* large-screens */
@media only screen and (min-width: 600px) {
  /* navbar */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar .home-icon {
    display: none;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
		display: block;
  }
  .navbar:hover .nav-item:last-child {
    margin: 0;
  }

  .navbar:hover .ext {
    display: flex;
	}
	.navbar:hover .ext .preview {
		display: none;
  }
}


/* small screens  -  loaded last for reasons */
/* long-ways */
@media only screen and (max-height: 480px) {
  /* navbar */
  .logo {
    display: none;
  }
  .ext { 
    display: none;
  }
}


/* #endregion */ /* responsive-design */
/* ========================= */