/* ############# */
/* #region FONTS */
/* @font-face {
  font-family: "font-awesome-regular";
  src: url(./fonts/font-awesome/fa-regular-400.ttf) format("truetype"); 
}
@font-face {
  font-family: "font-awesome-brands"; 
  src: url(./fonts/font-awesome/fa-brands-400.ttf) format("truetype");
}
@font-face {
  font-family: "font-awesome-solid";
  src: url(./fonts/font-awesome/fa-solid-900.ttf) format("truetype");
} */
/* @font-face {
  font-family: "nerd-fonts";
  src: url(./fonts/3270/3270-Medium\Nerd\Font\Complete.otf);
}
@font-face {
  font-family: "nerd-fonts-windows";
  src: url(./fonts/3270/3270-Medium\Nerd\Font\Complete\Windows\Compatible.otf);
} */
/* #endregion  */ /* FONTS */
/* ############# */



/* ############ */
/* #region ROOT */
:root {
  font-size: 1rem;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif, font-awesome-solid, nerd-fonts-windows, nerd-fonts; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  /* varibles */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --navbar-bg-primary: #23232e;
  --navbar-bg-secondary: #141418;
  --bg-primary: rgb(49, 48, 48);
  --bg-secondary: rgb(26, 26, 26);
  --purple-primary: #6649b8;
  --transition-speed: 600ms;
  --fade-transition-speed: 200ms;

  /* firefox scrollbar styling */
  scrollbar-color: var(--purple-primary) #1e1e24;
  scrollbar-width: thin;
}
/* #endregion */
/* ############ */



/* ############ */
/* #region Body */

/* scrollbar styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--purple-primary);
}

/* #endregion */ /* body */
/* ############ */



/* ############## */
/* #region NAVBAR */



/* #region the-bar */
.navbar {
  /* nav */
  position: fixed;
  background-color: var(--navbar-bg-primary);
  transition: width 200ms ease;
  overflow: hidden;
  scrollbar-width: none;
}
.navbar::-webkit-scrollbar {
  background: transparent;
  scrollbar-width: 0;
  display: none;
  width: 0;
}
.navbar-nav {
  /* nav  ul */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/* #endregion */ /* the-bar */


/* #region items-and-icons */
.nav-item {
  /* nav ul  li */
  width: 100%;
}
.nav-item:last-child {
  /* nav ul  li 
  move last icon to bottom of screen */
  margin-top: auto;
  margin-bottom: 0;
}
.nav-link {
  /* nav ul li  a */
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  /* make icons greyscale */
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  /* nav ul li  a
  remove grayscale when hovered over */
  filter: grayscale(0%) opacity(1);
  background: var(--navbar-bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  /* nav ul li  span */
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  /* nav ul li a  svg */
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--purple-primary);
  transition: var(--transition-speed);
}
.theme-icon {
  margin: 0px;
  margin-bottom: 0px;
}
/* #endregion */ /* items-and-icons */


/* #region logo */
.logo {
  /* nav ul li  a */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.3rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
/* #endregion */ /* logo */


/* #region external-links */
.ext {
  display: none;
  margin-top: auto;
}
.twitter-devider {
  margin: 0.25rem;
}
/* #endregion */ /* external-links */


/* #region fade-animation */
.ext {
  -webkit-animation: fadein var(--fade-transition-speed);
     -moz-animation: fadein var(--fade-transition-speed);
      -ms-animation: fadein var(--fade-transition-speed);
       -o-animation: fadein var(--fade-transition-speed);
          animation: fadein var(--fade-transition-speed);
}
.link-text {
  -webkit-animation: fadein var(--fade-transition-speed);
     -moz-animation: fadein var(--fade-transition-speed);
      -ms-animation: fadein var(--fade-transition-speed);
       -o-animation: fadein var(--fade-transition-speed);
          animation: fadein var(--fade-transition-speed);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* #endregion */ /* fade-animation */



/* #endregion */ /* NAVBAR */
/* ############## */



/* ######################### */
/* #region responsive-design */



/* #region small-screens */
@media only screen and (max-width: 599px) {
  /* #region navbar */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .ext {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  /* #endregion */ /* navbar */
}
@media only screen and (max-height: 418px) {
  .logo {
    display: none;
  }
}
/* #endregion */ /* small-screens */


/* #region large-screens */
@media only screen and (min-width: 600px) {
  /* #region navbar */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .nav-item:last-child {
    margin: 0;
  }

  .navbar:hover .ext {
    display: flex;
  }
  /* #endregion */ /* navbar */
}
/* #endregion */ /* large-screens */



/* #endregion */ /* resposive-design */
/* ######################### */